.bg-color{
    background: black;
}
*{
    font-size: medium;
    color: aliceblue;
}


.text-align{
    text-align: justify;
    font-size: 14px;
}
li{
    text-align: left;
    padding-left: 105px;
}